/*Styling for whole Site*/
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #dedede;
}

h1  {
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem;
  color: white;
  
}

h2{
  font-weight: 800;
  font-size:xx-large;
  text-transform: uppercase;
  color:rgb(40, 40, 40);
}

h3{
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
}

h4{
  font-size: medium;
  font-weight: bolder;
  
}
p {
  font-size: 1.2vw;
  overflow-wrap: break-word;
  
}

a{
  text-decoration: none;
}

.text{
  font-size:small;
}

.image{
  object-fit: cover;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


.navContainer{
  align-items: flex-end !important;
}
.navBG{
  /* display: flex; */
  background-color:#06494b;
  position: sticky;
  top: 0;
  z-index: 1;
 
}

.btn_navBar{
  padding: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #06494b !important;
  border-color: white;
  color: white !important;
  text-transform: uppercase;

}
.btn_navBar:hover{
  background-color: #06494b;
  color: white;
}

/* .logo {
  margin-left: 7.5rem;
} */


/*Styling for Cards*/
.btn-card{
  background-color: #06494b ;
  border: none;
  float: left;
  text-transform: uppercase;
}

.carddesign{
  border-radius: 0rem 0rem 2rem 0rem ;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.btn-big-card{

  margin-bottom: 1rem;

}

.containerdesign{
  padding: 0;
}

.cardimg{
 align-items: left;
 object-fit: cover;
}

.linkcard {
  background-color: transparent;
  border: 0 !important;
}

.big-card-body {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  overflow-wrap: break-word;
}


/*Styling for single post*/
.info{
  font-size: x-small;
  color: #06494b;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}

.postBox{
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 0rem 2rem  ;
}

.rowdesign{
  padding-top: 1rem;
}

.imageRow{
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .imageRow {
    height: auto;
  }
}




/*Author-Design*/








